/* Ayuda */
.contenedor__div-ayuda{
    max-width: 100%;

    margin-left: 200px;
    margin-right: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#comprar:target .boton__acordeon-1, 
#sucursal:target .boton__acordeon-2{
    animation: resaltar 3s ease-in-out;
}
@keyframes resaltar {
    0% { background-color:  #CCE5FF; }
    100% { background-color: transparent; }
}



/* Responsivo */
@media(max-width: 1366px){
    .contenedor__div-ayuda{
        max-width: 100%;

        margin-left: 160px;
        margin-right: 160px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media(max-width: 1280px){
    .contenedor__div-ayuda{
        max-width: 100%;

        margin-left: 120px;
        margin-right: 120px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media(max-width: 1024px){
    .contenedor__div-ayuda{
        max-width: 100%;

        margin-left: 40px;
        margin-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media(max-width: 896px){
    .contenedor__div-ayuda{
        max-width: 100%;

        margin-left: 20px;
        margin-right: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media(max-width: 768px){
    main{
        background-color: #D3D3D3;
    
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
    .contenedor__div-ayuda{
        max-width: 100%;

        margin-left: 40px;
        margin-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media(max-width: 591px){
    main{
        background-color: #D3D3D3;

        margin-left: 0px;
        margin-right: 0px;

        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
    }
    .contenedor__div-ayuda{
        max-width: 100%;

        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media(max-width: 414px){
    main{
        background-color: #D3D3D3;

        margin-left: 0px;
        margin-right: 0px;

        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 40px;
    }
    .contenedor__div-ayuda{
        max-width: 100%;

        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media(max-width: 320px){
    main{
        background-color: #D3D3D3;

        margin-left: 0px;
        margin-right: 0px;

        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 40px;
    }
    .contenedor__div-ayuda{
        max-width: 100%;

        padding-top: 40px;
        padding-bottom: 40px;
    }
}