/* Consulta */
.conteiner__form-div-input-enviarConsulta{
    font-weight: bold;

    background-color: #871EE3;

    padding: 7px;
}
.conteiner__form-div-input-enviarConsulta:hover{
    background-color: #791AD1;
}
/* Responsivo */
@media(max-width:400px){
    .conteiner__form-consultas{
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 40px;
    }
}